@font-face {
    font-family: Work-sans;
    src: url(../Fonts/WorkSans-VariableFont_wght.ttf);
}
h1,p{
    font-family: Work-sans;
}
a,li{
    text-decoration: none;
    list-style-type: none;
    
}
#header{
    position:fixed;
}

.nav{
    padding-top: 20px;
}
.nav ul li{
    list-style-type: none;
    padding: 30px 20px;
}
.nav ul li a{
    
    display: block;
    color: #3B3C4A;
    font-family:Work-sans;
    font-weight: 500;
    font-size: 16px;

}

.button-wrapper input{
    background-color: #F4F4F5;
    height: 36px;
    width: 100px;
}
.theme-change div{
    width: 80px;
    height: 35px;
    background-color: #c2c2c2;
    border-radius: 25px;
}
.theme-change div img{
    height: 30px;
    width: auto;
    border-radius: 50%;
}
.theme-change{
    padding-left: 30px;
}
.banner{
    background: url(/images/hero2Image.png) no-repeat center center /cover;

}
.hero{
    margin-top: 30px;
}
.banner{
    position: relative;
    width: 100%;
    height: auto;
}
.hero-card{
    height: 300px;
    width: 600px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
   top: 385px; 
   left: 50px;
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); 
}
.hero-card .tech{
    font-size: 14px;
    line-height: 20px;
    background-color: #4B6BFB;
    display: inline-block;
    color: #fff;
    padding: 1px 3px;
    border-radius: 5px;
}
.hero-card h2{
    font-size: 36px;
    line-height: 40px;
    display: inline-block;
    padding-bottom: 30px;
    
}
.hero-img{
    z-index: 0;
}

.hero img{
    width: 100%;
}

.Mycard .card-title{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
   color: #4B6BFB;
    display: inline-block;
    border-radius: 2px;
    padding: 2px ;
    background-color: #4B6BFB0D;
    margin-top: 5px;
}
.Mycard .description{
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: #181A2A;
    display: inline-block;
    margin-top: 5px;
}
.Mycard{
    width: 100%;
}
.collumn{
    width: 32%;
}
.Mycard .card-image{
    width: 100%;
}
.card-ftr p{
    font-size: 16px;
    line-height: 20px;
    color: #97989F;
    font-weight: 500;
    padding-left: 10px;
    padding-top: 8px;  
}
.card-ftr .name{
    padding-right: 20px;
}
.collumn{
    padding: 20px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 10px;
    
}
.all-card{
    margin-top: 150px;
}
.load-more{
    margin-top: 36px;
   
}
.load-more p{
    border: 1px solid rgba(192, 192, 192, 0.397);
    border-radius: 5px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;
   
}
.search-btn{
    margin-left: -35px;
    z-index: 20;
}
.footer div  h1,h5{
 font-style: 18px;
 line-height: 28px;
 font-weight: 500;
}
.footer {
    background-color: #E8E8EA;
}
.footer ul li{
    margin-left: -30px;
}
.footer{
padding-top: 100px ;
height: 500px;

}
.footer p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #696A75;
    padding-top: 10px;
}
.footer ul li a{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #696A75;
    margin-top: 10px;
}
.footer form{
    align-items: center;
}
.footer form i{
    color: #696A75;
    font-size: 18px;
    margin-left: -25px;
    
}